@charset "utf-8";
@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    /* font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif; */
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    background-color: #000000;
    font-family: ヒラギノ丸ゴ ProN W4;
}

/* ヘッダー */

.header_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 6.09%;
    font-family: 筑紫B丸ゴシック;
    font-weight: bold;
    background: url(../images/hawaii.jpg) no-repeat center center/cover;
    height: 700px;
}

h1 {
    padding-left: 30px;
    max-width: 60px;
    padding-top: 20px;
}

.header_container nav ul {
    padding-top: 15px;
}

.menu ul {
    display: flex;
    position: relative;
    z-index: 100;
}

.menu li {
    color: #fff;
    font-size: 30px;
    padding-right: 40px;
    padding-top: 20px;
}

.ton {
    font-size: 70px;
    text-align: center;
    /* margin-top: -550px; */
    font-family: 筑紫B丸ゴシック;
    font-weight: bold;
    position: relative;
    padding-top: 200px;
}

.ton p {
    color: #fff;
    line-height: 1.6;
}

.v_line_fix {
    width: 6px;
    height: 350px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 20px;
    position: relative;
    margin-bottom: 40px;
}

h2 {
    font-size: 62px;
    text-align: center;
    color: #fff;
    font-family: 筑紫B丸ゴシック;
    font-weight: bold;
}

/* <!-- about 私について --> */

.wrap {
    padding-bottom: 80px;
    padding-top: 40px;
    text-align: center;
}

.wrap p {
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN";
}

.about_content {
    background-color: #fff;
    margin-right: 10%;
    height: 560px;
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.about_content2 {
    width: 60%;
    padding-top: 15px;
}

.name {
    /* text-align: center; */
    font-size: 90px;
    /* padding-left: 14.8%; */
    padding-top: 70px;
    font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN";
}

.about_content p {
    /* padding-left: 21.8%; */
    padding-top: 110px;
    font-size: 33px;
    padding-bottom: 105px;
    line-height: 1.75;
    display: block;
    font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN";
}

.ware {
    width: 420px;
    /* float: right; */
    /* margin-top: -600px; */
    position: relative;
    /* margin-right: 10%; */
}

.about_content_bottom {
    display: flex;
    justify-content: center;
}

.arrow {
    display: inline-block;
    height: 10px;
    width: 130px;
    position: relative;
    top: -15px;
    right: 30px;
    padding-right: 10px;
    background-color: #000000;
}

.arrow:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-left: 15px solid;
    left: 140px;
    top: -10px;
}

.arrow_text {
    position: relative;
    font-size: 33px;
    /* padding-left: 220px; */
    margin-top: -150px;
}

/* <!-- WORK 製作したもの --> */

.wrap2 {
    padding-bottom: 100px;
    margin-top: 180px;
    padding-top: 80px;
    text-align: center;
}

.wrap2 p {
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

.work_content {
    background-color: #fff;
    height: 520px;
}

.work2_content {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN";
    padding-top: 60px;
}

.work2_title {
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 60px;
}

.box1 {
    padding-right: 10px;
}

.box2 {
    padding-right: 10px;
}

.box1 img {
    width: 300px;
    height: 300px;
    border: 1px solid #000000;
}

.box2 img {
    width: 300px;
    height: 300px;
    border: 1px solid #000000;
}

.box3 img {
    width: 300px;
    height: 300px;
    border: 1px solid #000000;
}

/* <!-- SKILLできること --> */

.wrap3 {
    padding-bottom: 80px;
    margin-top: 180px;
    padding-top: 80px;
    text-align: center;
}

.wrap3 p {
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

.skill_content {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN";
}
.skill_title {
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    color: #fff;
    padding-bottom: 60px;
}

.box4 img {
    width: 350px;
    height: 350px;
    border: 1px solid #fff;
}

.box4 p {
    padding-bottom: 20px;
    font-size: 35px;
    padding-top: 40px;
    text-align: center;
    color: #fff;
}

.box5 img {
    width: 350px;
    height: 350px;
    border: 1px solid #fff;
}

.box5 p {
    padding-bottom: 20px;
    font-size: 35px;
    padding-top: 40px;
    text-align: center;
    color: #fff;
}

.skill_content p {
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}

/* <!-- HISTORY 想い --> */

.wrap4 {
    padding-bottom: 80px;
    margin-top: 180px;
    padding-top: 80px;
    text-align: center;
}

.wrap4 p {
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

.history_content {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.box6 {
    background-color: #666666;
    padding: 50px 30px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -200px;
    font-family: 筑紫B丸ゴシック;
    font-weight: bold;
}

.history1 {
    padding-top: 300px;
    font-size: 60px;
    padding-bottom: 100px;
    color: #fff;
}
.history2 {
    font-size: 30px;
    line-height: 1.75;
    color: #fff;
}

/* <!-- CONTACT 問い合わせ --> */

.wrap5 {
    padding-bottom: 80px;
    margin-top: 180px;
    padding-top: 80px;
    text-align: center;
}

.wrap5 p {
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

.toiawase_content {
    background: url(../images/last.jpg) no-repeat center center/cover;
    max-width: 100%;
}

/* .toiawase img {
    width: 100vw;
} */

.toiawase1 {
    font-size: 40px;
    text-align: center;
    color: #fff;
    line-height: 1.75;
    margin-bottom: 50px;
    font-family: 筑紫B丸ゴシック;
    font-weight: bold;
}

.box7 {
    color: #fff;
    font-size: 40px;
    max-width: 550px;
    padding: 20px 20px;
    background-color: #d1829d;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;
}

.toiawase_button p {
    color: #fff;
    font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN";
}

.sns img {
    width: 5%;
    margin: 0 auto;
}

.insta {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
/* .sns_t {
    padding: 5px;
} */

/* .sns ul {
    display: flex;
    margin-top: 50px;
    justify-content: center;
} */

.last p {
    text-align: center;
    font-size: 10px;
    font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN";
    padding-bottom: 20px;
    color: #fff;
}

/* ボタン */

.botton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.arrow1 {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 6em;
    height: 6em;
    background: #d1829d;
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: 4px;
}

.arrow1:before {
    content: "";
    position: absolute;
    width: 2em;
    height: 2em;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    top: 42%;
    left: 32%;
    transform: rotate(135deg);
}

.sp_history1 {
    display: none;
}

.sp_history2 {
    display: none;
}

.toiawase3 {
    display: none;
}

.pc_menu_btn {
    display: none;
}

.sp_name_content {
    display: none;
}

@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }

    .pc_menu_btn {
        display: block;
    }

    .pc_nav {
        display: block;
    }

    .pc_menu_btn {
        position: absolute;
        top: 40px;
        right: 20px;
        display: block;
        cursor: pointer;
        z-index: 100;
    }

    .pc_menu_btn span {
        background-color: #fff;
        width: 55px;
        height: 4px;
        display: block;
        position: relative;
        transition: 0.3s;
    }

    .pc_menu_btn span::before,
    .pc_menu_btn span::after {
        content: "";
        width: 55px;
        height: 4px;
        display: block;
        background-color: #fff;
        position: absolute;
        transition: 0.3s;
    }

    .pc_menu_btn span::before {
        bottom: 18px;
        z-index: 100;
    }

    .pc_menu_btn span::after {
        top: 18px;
    }

    .open span {
        background: transparent;
    }

    .open span::before {
        bottom: 0px;
        transform: rotate(45deg);
    }

    .open span::after {
        top: 0px;
        transform: rotate(135deg);
    }

    .pc_nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #000000;
        z-index: 90;
    }

    .pc_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .pc_nav a {
        color: #fff;
        font-family: 筑紫B丸ゴシック;
        font-size: 62px;
        display: block;
        padding: 20px 0;
        text-align: center;
    }

    /* <!-- about 私について --> */

    .about_content {
        height: auto;
        margin-right: 0;
        text-align: center;
    }

    .about_content p {
        font-size: 13px;
        padding-top: 0;
        padding-bottom: 20px;
    }

    .about_content2 {
        width: 55%;
        padding-top: 15px;
    }

    .ware {
        width: 45%;
    }

    .header_container {
        height: 350px;
        margin-top: 0px;
    }

    .ton {
        font-size: 30px;
        padding-top: 140px;
    }

    .v_line_fix {
        height: 50px;
        width: 3px;
    }

    .name_content {
        display: none;
    }

    .sp_name_content {
        display: block;
    }

    .sp_name {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 25px;
        font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN";
    }

    .arrow {
        top: 7px;
        width: 30px;
        height: 5px;
        right: 15px;
    }

    .arrow:before {
        border: 8px solid transparent;
        border-left: 8px solid;
        left: 40px;
        top: -5px;
    }

    .arrow_text {
        margin-top: 0;
    }

    .ware img {
        vertical-align: bottom;
    }

    /* <!-- WORK 製作したもの --> */

    h1 {
        max-width: 10%;
    }

    h2 {
        font-size: 25px;
    }

    .wrap p {
        font-size: 16px;
    }

    .wrap2 p {
        font-size: 16px;
    }

    .wrap3 p {
        font-size: 16px;
    }

    .wrap4 p {
        font-size: 16px;
    }

    .wrap5 p {
        font-size: 16px;
    }

    .work_content {
        height: 1200px;
        text-align: center;
    }

    .work2_title {
        padding-top: 30px;
    }

    .work2_content {
        display: block;
    }
    .box1 img {
        width: 250px;
        height: 250px;
    }

    .box2 img {
        width: 250px;
        height: 250px;
    }

    .box3 img {
        width: 250px;
        height: 250px;
    }

    .work2_title {
        font-size: 20px;
    }

    .wrap {
        padding-top: 20px;
    }

    .wrap2 {
        padding-top: 20px;
    }

    .wrap3 {
        padding-top: 20px;
    }

    .wrap4 {
        padding-top: 20px;
    }

    .wrap5 {
        padding-top: 20px;
    }

    /* <!-- SKILLできること --> */

    .skill_content {
        display: block;
        text-align: center;
    }

    .box4 img {
        width: 250px;
        height: 250px;
    }

    .box5 img {
        width: 250px;
        height: 250px;
    }

    .box4_content {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .skill_content p {
        font-size: 16px;
        line-height: 1.75;
    }

    /* <!-- HISTORY 想い --> */

    .history_content img {
        max-width: 70%;
    }

    .box6 {
        padding: 10px 5px;
        max-width: 80%;
        margin-top: -80px;
    }

    .history1 {
        font-size: 33px;
        line-height: 1.73;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .sp_history1 {
        display: block;
    }

    .history2 {
        display: block;
        font-size: 16px;
    }

    .sp_history2 {
        display: block;
    }

    .sp_history3 {
        display: none;
    }

    /* <!-- CONTACT 問い合わせ --> */

    .toiawase_content {
        padding: 40px;
    }

    .toiawase1 {
        font-size: 16px;
    }

    .toiawase2 {
        display: none;
    }

    .toiawase3 {
        display: block;
    }

    .toiawase_button p {
        font-size: 16px;
    }

    .box7 {
        max-width: 200px;
        padding: 10px 0;
    }

    .sns img {
        width: 10%;
    }

    .arrow1 {
        width: 3em;
        height: 3em;
    }

    .arrow1:before {
        width: 1em;
        height: 1em;
    }
}
